@import '/src/styles/variables.scss';
@import '/src/styles/typography.scss';

.main-video {
    font-family: $font-family;

    &__player {
        width: 100%;
        height: auto;
    }

    &__title {
        font-size: 1.5rem;
        margin: .625rem 1rem;

        @include desktop {
            margin: 10px 0;
        }

    }

    &__details {
        display: flex;
        justify-content: space-between;
        margin: .625rem 1rem;
        padding: 1rem 0;
        border-top: 0.0625rem solid $silver;
        border-bottom: 0.0625rem solid $silver;

        @include tablet {
            flex-direction: row;
            align-items: flex-start;
            border-top: 0;
            padding: 0;
        }

        @include desktop {
            flex-direction: row;
            align-items: flex-start;
            border-top: 0;
            padding: 0;
            margin: 0;
        }
    }


    &__info,
    &__stats {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include tablet {
            display: flex;
            gap: 1rem;
            flex-direction: row;
            margin-bottom: 1rem;
        }

        @include desktop {
            display: flex;
            gap: 1rem;
            flex-direction: row;
            margin-bottom: 1rem;
        }
    }

    &__channel {
        margin: .3125rem 0;
        font-weight: 500;
    }

    &__timestamp,
    &__views,
    &__likes {
        margin: .3125rem 0;
        color: $mercury;
    }

    &__stat {
        display: flex;
        align-items: center;
        margin-right: 1.25rem;

        &:last-child {
            margin-right: 1rem;
        }
    }

    &__icon {
        height: 1.5rem;
        margin-right: .5rem;
    }

    &__description {
        margin: .625rem 1rem;
        @include desktop{
            margin-right: 1rem;
            margin: 0;
        }
    }
}

.desktop-view {
    @include desktop {
        width: 50%;
    }
}