@import '/src/styles/variables.scss';

.textarea__header {
    font-family: $font-family;
    font-weight: 500;
    text-align: left;
    margin: .5em;

}

.textarea__form-container {
    font-family: $font-family;
    display: flex;
    align-items: flex-start;
    gap: 1em;
    margin: 1em 1.125rem 2.8rem;
}

.textarea__form {
    font-family: $font-family;
    flex-grow: 1;
}

.textarea__label {
    font-family: $font-family;
    display: block;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    color: lightgray;
}

.textarea__input,
.textarea__textarea {
    font-family: $font-family;
    height: 8rem;
    width: 90%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: .3125rem;
    border-color: lightgray;

}

.textarea {
    font-family: $font-family;
    min-width: 6.25rem;
}

.textarea__button {
    gap: 3rem;
    width: 13.5rem;
    display: flex;
    align-items: center;
    padding: 15px .5rem;
    color: $secondary-color;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: $primary-color;
    font-size: 1rem;
    text-transform: uppercase;

    &__icon {
        height: 20px;
        margin-right: 10px;
    }

    span {
        display: inline-block;
    }
}

.comment {
    display: flex;
    font-family: $font-family;
    align-items: flex-start;
    gap: 1em;
    padding: 1em 0;
}

.textarea__avatar {
    font-family: $font-family;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}

.comment__content {
    font-family: $font-family;
    flex-grow: 1;
}

.comment__name {
    margin: 0;
    font-family: $font-family;
}

.comment__date {
    margin: 0;
    font-family: $font-family;
}

.comment__text {
    margin: 0.5em 0 0 0;
    font-family: $font-family;
}

.comment__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .625rem;
    font-family: $font-family;
}