@import './variables';

$font-family: 'Avenir Next', sans-serif;
$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;
$font-size-page-header: 33px;
$line-height-page-header: 44px;
$font-size-section-header: 12px;
$line-height-section-header: 20px;
$font-size-subheader: 14px;
$line-height-subheader: 22px;
$font-size-body-copy: 12px;
$line-height-body-copy: 20px;
$font-size-labels-buttons: 12px;
$line-height-labels-buttons: 20px;
$font-size-button: 18px;

