// Define breakpoints as variables for easy maintenance

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//primary colors//
$primary-color: #0095ff;
$secondary-color: #ffffff;
$font-family: 'Avenir Next', sans-serif;