@import '/src/styles/variables.scss';

.video-player {
    width: 100%;
    background-color: currentColor;

    &__player {
        width: 100%;
        height: auto;

        @include desktop {
            background-color: black;
            aspect-ratio: 16 / 9;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }


    }
}



    // .video-player__player {
    //     @include desktop {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: contain;
    //         /* Ensures the video maintains its aspect ratio */
    //         background-color: black;
    //         /* Fallback background for the video */
    //     }
    // }