@import '/src/styles/variables.scss';
@import '/src/styles/typography.scss';

.sidebar {
    font-family: $font-family;
    margin: 0.625rem 1rem;



    &__title {
        font-size: .9375rem;
        margin-bottom: .625rem;
        border-top: 0.0625rem solid $silver;
        padding-top: 1rem;
        color: $silver;
        text-transform: uppercase;
        font-weight: 600;

        @include desktop {
            border-top: none;
            padding-top: 0;
        }


    }

    &__list {
        list-style: none;
        padding: 0;
        border-top: none;
    }

    &__item {
        display: flex;
        margin-bottom: .625rem;
        cursor: pointer;
    }

    &__thumbnail {
        width: 7.5rem;
        height: 4.25rem;
        object-fit: cover;
        margin-right: .625rem;
        border-radius: .4rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__titles {
        font-size: .75rem;
        font-weight: 500;
        margin: 0;
    }

    &__channel {
        font-size: .875rem;
    }

}