@import '/src/styles/variables.scss';
@import '/src/styles/typography.scss';

.view{
    @include desktop{
        display: flex;
    }
}
.app__content{
    @include desktop{
        width: 50%;
    }
}
.app__details{
    @include desktop{
        width: 50%;
    }
}