@import '/src/styles/variables.scss';

.app {
    @include desktop {
        display: flex;
        flex-direction: column;
    }
}

.view {
    @include desktop {
        display: flex;
        justify-content: center;
    }
}

.app__details {
    border-left: .0625rem solid $mercury;
}

.view {
    @include desktop {
        display: flex;
        justify-content: center;
    }
}

.app__details {
    @include desktop {
        border-left: 0.0625rem solid #AFAFAF;
    }
}

.app__content {
    @include desktop {
        width: 50%;
    }
}